$breakpoints: (xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px);

//Extra Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {
  .container-mar {
    margin: 0 20px 0 20px;
  }

  .circle {
    width: 50vh;
    height: 50vh;

    &:after {
      top: 1.6rem;
      bottom: 1.6rem;
      left: 1.6rem;
      right: 1.6rem;
    }

  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .circle {
    width: 50vh;
    height: 50vh;

    &:after {
      top: 1.6rem;
      bottom: 1.6rem;
      left: 1.6rem;
      right: 1.6rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .intro-heading p {
    margin: 3rem 5rem 0 5rem;
  }

  .circle {
    width: 50vh;
    height: 50vh;


    &:after {
      top: 1.6rem;
      bottom: 1.6rem;
      left: 1.6rem;
      right: 1.6rem;
    }

  }
}




// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .container-mar {
    margin: 0 100px 0 100px;
  }

  .navbar {
    margin: 0 100px;
  }

  .intro-heading p {
    margin: 3rem 5rem 0 5rem;
  }

  .circle {
    width: 20vh;
    height: 20vh;

    &:after {
      top: 1.6rem;
      bottom: 1.6rem;
      left: 1.6rem;
      right: 1.6rem;
    }
  }
}